<a href="https://colab.research.google.com/github/elanghairilanam/Portfolio-Data-Science/blob/main/Hypothesis%20Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [41]:
#Mean Difference Testing

In [39]:
nilai = [74,49,68,86,80,71,77,81,72,77]

In [17]:
x_bar = np.mean(nilai)
mu = 80
s = np.std(nilai, ddof = 1)
n = len(nilai)

t_stats = (x_bar - mu) / (s / np.sqrt(n))

print(t_stats)

-2.0346749160869684

In [18]:
from scipy.stats import t

t.ppf(0.05, n - 1)

-1.8331129326536337

In [22]:
from scipy.stats import ttest_1samp

t_stats, p_value = ttest_1samp(nilai, 80)

t_stats

-2.0346749160869684

In [43]:
#Independent Population Testing

In [40]:
kelas_1 = [74,49,68,86,80,71,77,81,72,77]

kelas_2 = [78,57,65,82,73,76,54,58]

In [4]:
x_bar1 = np.mean(kelas_1)
s1 = np.std(kelas_1, ddof = 1)
n1 = len(kelas_1)

x_bar2 = np.mean(kelas_2)
s2 = np.std(kelas_2, ddof = 1)
n2 = len(kelas_2)

In [6]:
print(f"Standar deviasi kelas 1 : {s1}")
print(f"Standar deviasi kelas 2 : {s2}")

Standar deviasi kelas 1 : 10.102254973794492
Standar deviasi kelas 2 : 10.76286605483343

In [7]:
df = n1 + n2 - 2
sp = np.sqrt(((n1 - 1) * np.power(s1,2) + (n2 - 1) * np.power(s2,2)) / df )

In [9]:
t_stat = (x_bar1 - x_bar2) / (sp * np.sqrt(1 / n1 + 1 / n2))

print(t_stat)

1.140634940065406

In [10]:
from scipy.stats import ttest_ind

In [11]:
t_stat, p_value = ttest_ind(kelas_1, kelas_2, equal_var = True)

In [15]:
if p_value < 0.05:
  print("Nilai kelas 1 dan 2 berbeda")
else:
    print("Nilai kelas 1 dan 2 sama")

Nilai kelas 1 dan 2 sama

In [44]:
#Uji T Berpasangan

In [23]:
sebelum = [59,71,64,75,75,61,52,66,71,69]
sesudah = [98,91,86,72,77,54,69,89,66,87]

In [24]:
beda = np.array(sesudah) - np.array(sebelum)
x_beda = np.mean(beda)
sd = np.std(beda, ddof = 1)
n = len(beda)
mu = 0

In [25]:
t_stats = (x_beda - mu) / (sd / np.sqrt(n))

In [26]:
t_stats

2.6423876827871844

In [27]:
from scipy.stats import ttest_rel

In [28]:
t_stats, p_value = ttest_rel(sesudah, sebelum)

In [29]:
if p_value < 0.05:
  print("Nilai sesudah berbeda dari nilai sebelum")
else:
  print("Nilai sesudah sama dari nilai sebelum")

Nilai sesudah berbeda dari nilai sebelum

In [ ]:
#Uji perbedaan proporsi

In [30]:
perempuan_selamat = 233
total_perempuan = 314
laki_selamat = 109
total_laki = 577

In [31]:
proporsi_perempuan = perempuan_selamat / total_perempuan
proporsi_laki = laki_selamat / total_laki

prop_gabungan = (perempuan_selamat + laki_selamat) / (total_perempuan + total_laki)

In [34]:
t_stat = (proporsi_perempuan - proporsi_laki) / np.sqrt(prop_gabungan * (1 - prop_gabungan)

* (1/total_perempuan + 1/total_laki))

print(t_stat)

16.218833930670097

In [35]:
from statsmodels.stats.proportion import proportions_ztest

In [38]:
proportions_ztest([perempuan_selamat, laki_selamat], [total_perempuan, total_laki])

(16.218833930670097, 3.7117477701134797e-59)